*{
    padding: 0;
    margin: 0;
}

.container{
    margin: auto;
    width: 80%;
    padding: 3% 2%;
    display: flex;
    justify-content: space-between;

}

.card{
position: relative;
width: 30%;
display: flex;
}
.img{
    position: relative;
    z-index: 3;
    transition: 1s;
}
.img:hover{
    transform:translate(70px ,-50px)
    
}

.img img{
    width: 100%;
}

.text{
   text-align: center;
    background-color: rgb(241, 225, 180);
    width: 100%;
    position: absolute;
    top: 0;
    /* overflow: hidden; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* transition: 0.7s; */
}





