*{
    margin: 0;
    padding: 0;
}

.d-flex{
    display: flex;
}

.cards{
        background-color: black;
        width: 100%;
        gap: 10px;
}
.contanier{
    margin: auto;
    padding-top: 3%;
    width: 80%;
    flex-wrap: wrap;
    gap: 20px;

}

.card-details{
 background-color: rgb(88, 87, 87);
 width: 20%;
 color: white;
 border: 0;
 border-radius: 7%;
 padding: 5%;
 position: relative;
 overflow: hidden;
}

.card-details p{
    margin-top: 5%;
}

span{
    color: orange;
}

.card-details::before {
    content: '';
    position: absolute;
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    top: -80px; 
    right: -80px; 
    z-index: 1; 
    transition: transform 0.4s ease-out; 
}

.card-details:hover .card-details::before{
  transform: scale(5);
}

.card-details:nth-child(1)::before { background-color: #ff9900; }
.card-details:nth-child(2)::before { background-color: #66cc33; }
.card-details:nth-child(3)::before { background-color: #ff3366; }
.card-details:nth-child(4)::before { background-color: #9933ff; }
.card-details:nth-child(5)::before { background-color: #cc0066; }
.card-details:nth-child(6)::before { background-color: #3366ff; }
.card-details:nth-child(7)::before { background-color: #cc9900; }
.card-details:nth-child(8)::before { background-color: #6633cc; };

.card-details{
  background-color: #3366ff;
}
.card-details:hover::before {
  transform: scale(3.5);
  top: -20px; 
  right: -20px;
}
.card-details:hover span{
  color: white;
}
.card-details h2, .card p {
  position: relative;
  z-index: 2;
  color: white;
}
.card-details h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
}
.card-details p {
  font-size: 0.9em;
  opacity: 0.8; 
} 
